<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <% currentUserFavorite = Favorite.find_by(user_id: current_user.id, book_id:book.id) %>
      <tr>
        <td>
          <%= link_to(book.user) do %>
            <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td>
          <% if currentUserFavorite == nil %>
            <%= link_to "♡#{book.get_favorites_count}", favorites_path(params:{book_id:book}),method: :post, class: "text-secondary" %>
          <% else %>
            <%= link_to "♡#{book.get_favorites_count}", favorite_path(currentUserFavorite), method: :delete, class: "text-primary" %>
          <% end %>
        </td>
        <td>コメント数：<%= book.get_comments_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>